.decidir-message {
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 30px;
    float: left;
}
.decidir-error {
    background-color: lightcoral;
}
.decidir-warning {
    background-color: lightgoldenrodyellow;
}
.decidir-success {
    background-color: lightgreen;
}
.decidir-info {
    background-color: lightsteelblue;
}

.field-group {
    float: left;
    clear: both;
    margin-bottom: 20px;
}

.payment_method_decidir_payment label img {
    width: 150px;
}